.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
}
