.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0px var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 300px;
    display: flex;
}

//action

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 16px;
    padding: 4px 8px;
    background: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    background: transparent;
    font-size: 2.4rem;
    color: #161823;
    padding: 4px 10px;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
